:global {
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .clearfix {
    &:after,
    &:before {
      content: '';
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}