.articleView {
  padding: 50px 0;
  color: #313131;
  background: #fff;
  box-sizing: border-box;
}
.content {
  max-width: 780px;
  width: 90%;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}
.articleMeta {
  margin-top: 10px;
}
.createDate {
  color: #aaa;
  font-size: 14px;
}
.articleTags {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  color: #4D89FB;
}
.articleTagsItem {
  margin: 5px 10px 0 0;
}
.articleCopyright {
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.author {
  font-size: 14px;
  font-weight: bold;
}
.copyrightDesc {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
  padding-bottom: 5px;
}
.historyVersion {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
  padding-bottom: 5px;
  cursor: pointer;
  user-select: none;
}
.historyVersionDisplay {
  margin-top: 15px;
  padding: 15px;
  background: #f5f6f7;
  position: relative;
  border-radius: 3px;
  cursor: auto;
  user-select: text;
  &:after {
    content: '';
    position: absolute;
    top: -18px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: #f5f6f7;
  }
}
.versionItem {
  & + & {
    margin-top: 5px;
  }
}
.moreIcon {
  display: inline-block;
  font-size: 12px;
  transform: scale(.7);
}

.articleTitle {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #313131;
}
.articleMeta {
  margin-top: 20px;
  font-size: 12px;
  color: #5f5f5f;
}

.recommendWrapper {
  margin: 20px 0;
}
.recommend {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 720px) {
  .recommend {
    flex-direction: column;
  }
}

.articleListItem {
  width: 40%;
  margin-top: 15px;
  padding: 20px 25px;
  background: #fff;
  border: 1px solid rgba(184,197,214,.2);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  transition: transform .12s;
  &:hover {
    transform: scale(1.05);
  }
}

@media only screen and (max-width: 720px) {
  .articleListItem {
    width: 90%;
  }
}

.commentTitle {
  margin: 40px 0;
  font-size: 20px;
  font-weight: bold;
  color: #656D78;
}
.commentUserInfo {
  font-size: 13px;
  color: #656D78;
}
.avatar {
  width: 42px;
  height: 42px;
  background: #fff;
  padding: 2px;
  border: 1px solid #E6E9ED;
  border-radius: 100%;
  box-sizing: border-box;
}
.infoBlock {
  margin-left: 12px;
  padding: 3px 0;
  box-sizing: border-box;
}
.commentDate {
  margin-top: 8px;
}
.say {
  margin-left: 5px;
  color: #AAB2BD
}
.reply {
  cursor: pointer;
}
.commentContent {
  margin-left: 54px;
  font-size: 13px;
  line-height: 22px;
  color: #656D78;
  text-align: justify;
  word-break: break-all;
}

.childrenComments {
  padding: 15px 0;
  position: relative;
  z-index: 11;
  .avatar {
    width: 30px;
    height: 30px;
  }
  .commentContent {
    margin-left: 42px;
  }
}
.childtenCommentWrapper {
  position: relative;
  margin-left: 54px;
  &:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    height: calc(100%);
    width: 1px;
    background: #E6E9ED;
  }
}

.commentItem {
  padding: 30px 0;
}
.initComment {
  margin-bottom: 20px;
}

.addComment {
  color: #656D78;
  font-size: 13px;
}
.addCommentTip {
  font-size: 16px;
}

.addCommentUserInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.inputLabel {
  &:before {
    content: '*';
  }
}
.addCommentInputItem {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.addCommentInput {
  padding: 8px 10px;
  box-shadow: 0 0 0 1px #E6E9ED;
  // border: 1px solid #E6E9ED;
  background: #fff;
  margin: 6px 0;
  line-height: 18px;
  box-sizing: border-box;
  &:focus {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 1px #3274ff;
  }
}
.addCommentTexrarea {
  resize: vertical;
  min-height: 200px;
}
.addCommentTextareaItem {
  margin-top: 15px;
}
.submitComment {
  width: 100%;
  padding: 8px 10px;
  box-shadow: 0 0 0 1px #E6E9ED;
  background: #fff;
  font-size: .8rem;
  margin: 6px 0;
  line-height: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all .12s;
  &:hover {
    background: #3274ff;
    color: #fff;
  }
}

.cancelReply {
  margin-left: 20px;
  cursor: pointer;
  transition: all .12s;
  &:hover {
    color: #3274ff;
  }
}
.replayUsername {
  padding: 0 2px;
  color: #3274ff;
  font-weight: bold;
}

.artileContent.artileContentStyle {
  margin-top: 20px;
  p {
    color: #313131;
    line-height: 1.625;
  }
  h1 {
    font-size: 1.3em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.1em;
  }
  h4,
  h5,
  h6 {
    font-size: 1em;
  }
  ul > li {
    list-style-type: disc;
  }
  ol > li {
    list-style-type: decimal;
  }
  img {
    box-sizing: border-box;
    margin: auto;
    padding: 3px;
    border: 1px solid #ddd;
  }
  p > code {
    margin: 0 4px;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }
}

