.breadCrumb {
  max-width: 1040px;
  margin: 20px auto;
  color: #333;
}
.breadCrumbItem {
  transition: all .12s;
  &:hover {
    color: #3274ff;
  }
}
.breadCrumbItem + .breadCrumbItem {
  &:before {
    content: '/';
    margin: 0 5px;
    color: #ccc;
  }
}