.searchView {
  padding: 60px 0;
  color: #313131;
  box-sizing: border-box;
}
.content {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}
.searchWraper {

}
.searchContent {
  position: relative;
}
.searchInput {
  font-size: 14px;
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 0 40px 0 18px;
  color: #313131;
  border: 1px solid rgba(184,197,214,.2);
  border-radius: 20px;
  outline: 0;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  box-sizing: border-box;
}
.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.searchTags {
  padding: 15px 0;
}

.helpGuide {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.tagItem {
  font-size: 13px;
  display: inline-block;
  margin: 10px 8px 0 0;
  padding: 2px 15px;
  transition-duration: .4s;
  letter-spacing: 0;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(184, 197, 214, 0.2);
  background: #fff;
  line-height: 1.625;
  &:hover {
    color: #3274ff;
  }
}

